#hero_alt .data h1 {
    max-width: 377px;
    font-size: 24px;
    line-height: 32px;
}
#hero_alt img {
    max-width: 470px;
}

@media screen and (max-width: 768px) {
    #hero_alt .data h1 {
        font-size: 35px;
    }
}

#planes_wrapper .plan h3:before {
    content: '$452';
    font-size: 24px;
    display: block;
    color: #999;
    text-decoration: line-through;
}

#planes_wrapper .plan + .plan h3:before {
    content: '$891';
    font-size: 24px;
    display: block;
    color: #999;
    text-decoration: line-through;
}
#planes_wrapper .plan + .plan + .plan h3:before {
    content: '$1.485';
    font-size: 24px;
    display: block;
    color: #999;
    text-decoration: line-through;
}
